/* Importar las fuentes correctamente */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
  --gold: #D4AF37;
  --black: #1A1A1A;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  /* Cambiado a Orbitron */
}

body {
  background: var(--black);
  color: var(--white);
  font-family: 'Orbitron', sans-serif;
  /* Cambiado a Orbitron */
  overflow-x: hidden;
  cursor: none;
}

#root {
  min-height: 100vh;
}